@media only screen and (max-width: 488px) {
    .iconss {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .tabjs {
        display: flex;
        flex-direction: column;
    }

    .swiper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .detailes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tabjss {
        font-size: 12px;
    }

    .paltar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .aside {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
        }

        .paltar1 {
            display: flex;
            justify-content: center;
        }
    }

    .ozel {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ozel-text {
            text-align: center;
        }
    }

    .price {
        width: 100%;
    }

    .color {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .brend {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .brend {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 220px;
    }
}

@media only screen and (max-width: 1024px) {
    .input {
        margin-top: 10px;
    }

    .elaqe {
        margin-left: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .iconss {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

@media only screen and (max-width: 290px) {
    .inputt {
        width: 100%;

        .form {
            .inputes {
                padding: 5px;
                width: 150px;
            }
        }
    }

    .icon {
        width: 100%;

        .sosial {
            display: none;
        }
    }

    .dey {
        width: 100%;
    }
}

.swiper-pagination-bullet {
    color: black;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    color: black;
}

.swiper-button-next {
    color: black;
}

.overlay_top {
    transition: all ease 4s;
}

.overlay_for_img {
    transition: all ease 4s;
}

.abc>link {
    gap: 5px;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    50% {
        box-shadow: 0 0 0 0.9rem rgba(0, 0, 0, 0.15);
    }

    100% {
        box-shadow: 0 0 0 0 transparent;
    }
}

.btn {
    transition-property: all;
    transition-duration: 0.3s;
}