.sliderproduct_main {
  :hover {
    cursor: pointer;
    .overlay_for_img {
      display: block;
    }
    .products_text {
      display: none;
    }

    .overlay_button {
      display: block;
    }
  }
  .overlay_top {
    width: 100%;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(1px) brightness(100%);
  }
}

.sliderproduct_img img {
  :hover .overlay_top {
    transform: scale(1);
  }
}
