html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}


.bm-item {
  display: inline-block;

  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-menu-wrap{
    width: 100%;
}
.bm-burger-bars {
  background: #373a47;
}
@media only screen and (min-width: 1024px) {
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
    display: none;
  }
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background:#f15803;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  text-align: start;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}


.App {
  font-family: sans-serif;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content{
  top: 40px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  
  color: black;
  display: block;
  width: 100px;
}

.dropdown-content button:hover {
  width: 100px;
  background-color: #666 ;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}